#formulario{
    margin-top: 30px;
    border: 1px solid #EB1E00;
    border-color: #CCCCCC;
    margin-left: 25%;
    margin-right: 25%;
    box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
    background-color: #E6E6E6;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 15px #aaa;
}

#formulario p{
    margin-top: 15px;
    margin-left: 20px;
}

hr {
    height: 1px;
    margin-left: 10px;
    border: 0;
    background-color: #000000;
}

#formulario li{
    list-style: none;
}

.captura{
    margin-top: 20px;
}

.captura label {
    margin-top: 15px;
    margin-left: 17%;
    width:25%;
    display:inline-block;
    float:left;
    padding:3px;
}

.captura input {
    border-radius: 5px;
    height:20px; 
    width:33%;
    padding:5px 8px;
    margin-top: 10px;
}

#btnVaciar, #btnRegistrar{
    margin-top: 15px;   
    width: 20%;
    height: 30px;
    font: 100% Lucida Sans;
    cursor: pointer;
    border-radius: 5px; 
}

#btnRegistrar{
    border: 1px solid(255,255,255,0.3);    
    color: #ffffff;
    background-image: linear-gradient(to bottom, #EB1E00, #cb1e00);
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    margin-left: 16.5%;
    margin-right: 12.5%;
}

#btnRegistrar:hover{
    color: #FFFFFF;
    background-image: linear-gradient(to bottom, #cb1e00, #EB1E00);
}

#btnVaciar{
    margin-left: 10%;
    margin-right: 12.5%;
}

#btnVaciar:hover{
    background: #D4D4D4;
}

@media screen and (max-width: 320px) {
    #formulario{    
        margin-top: 30px;
        margin-left: 0px;
        margin-right: 0px;
        width: 100%;
    }

    .captura label{
        margin-left: 0px;
        width: 100%;
        text-align: center;
    }

    .captura input{
        margin-left: 10px;
        width: 80%;
    }

    .captura select{
        margin-left: 10px;
        width: 90%;
    }

    #btnRegistrar, #btnVaciar{
        width: 150px;
    }
    #btnRegistrar{
        margin-left: 25px;
    }
    #btnVaciar{
        margin-top: 5px;
        margin-left: 25px;
    }

    header nav li li{
        display: block;
        border-bottom:1px solid rgba(255,255,255,.5);
        width: 105%;
    }
}

@media screen and (max-width: 480px) and (min-width: 320px) {
    #formulario{    
        margin-top: 30px;
        margin-left: 0px;
        margin-right: 0px;
        width: 100%;
    }

    .captura label{
        margin-left: 0px;
        width: 100%;
        text-align: center;
    }

    .captura input{
        margin-left: 20px;
        width: 80%;
    }

    .captura select{
        margin-left: 20px;
        width: 86%;
    }

    #btnRegistrar, #btnVaciar{
        width: 150px;
    }
    #btnRegistrar{
        margin-left: 60px;
    }
    #btnVaciar{
        margin-top: 5px;
        margin-left: 60px;
    }

    header nav li li{
        display: block;
        border-bottom:1px solid rgba(255,255,255,.5);
        width: 140%;
    }
}

@media screen and (max-width: 768px) and (min-width: 480px) {
    #formulario{    
        margin-top: 30px;
        margin-left: 0px;
        margin-right: 0px;
        width: 100%;
    }

    .captura label{
        margin-left: 40px;
        width: 20%;
    }

    .captura input{
        width: 50%;
    }

    .captura select{
        width: 54%;
    }

    #btnRegistrar, #btnVaciar{
        width: 100px;
    }
    #btnRegistrar{
        margin-left: 60px;
    }
    #btnVaciar{
        margin-top: 5px;
        margin-left: 60px;
    }
}