#datos{
	border: 1px solid #D4D4D4;	
	margin-top: 20px;
	margin-left: 30%;
	margin-right: 30%;
    box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
    background-color: #E6E6E6;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 15px #aaa;
}

#datos p{
    margin-top: 15px;
    margin-left: 20px;
}

hr {
    height: 1px;
    margin-left: 10px;
    border: 0;
    background-color: #000000;
}

.captura input {
	border-radius: 5px;
    height:20px; 
    width:220px; 
    padding:5px 8px;
}

#btnCambiar{
    margin-top: 10px;   
    width: 40%;
    height: 30px;
    font: 100% Lucida Sans;
    cursor: pointer;
    /*border: 1px solid #D4D4D4;*/
    border-radius: 5px; 
    border: 1px solid(255,255,255,0.3);    
    color: #ffffff;
    background-image: linear-gradient(to bottom, #EB1E00, #cb1e00);
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
#btnCambiar:hover{
    color: #FFFFFF;
    background-image: linear-gradient(to bottom, #cb1e00, #EB1E00);
}

@media screen and (max-width: 320px) {
    #datos{    
        margin-top: 30px;
        margin-left: 0px;
        margin-right: 0px;
        width: 100%;
    }

    .captura label{
        margin-left: 0px;
        width: 100%;
        text-align: center;
    }

    .captura input{
        margin-left: 5px;
        width: 80%;
    }

    .captura select{
        margin-left: 10px;
        width: 90%;
    }

    #btnCambiar{
        width: 150px;
    }
    #btnCambiar{
        margin-left: 5px;
        font-size: 15px;
        height: 50px;
    }

    header nav li li{
        display: block;
        border-bottom:1px solid rgba(255,255,255,.5);
        width: 105%;
    }
}

@media screen and (max-width: 480px) and (min-width: 320px) {
    #datos{    
        margin-top: 30px;
        margin-left: 0px;
        margin-right: 0px;
        width: 100%;
    }

    .captura label{
        margin-left: 0px;
        width: 100%;
        text-align: center;
    }

    .captura input{
        margin-left: 10px;
        width: 80%;
    }

    .captura select{
        margin-left: 20px;
        width: 86%;
    }

    #btnCambiar{
        width: 80%;
    }
    #btnCambiar{
        margin-left: 10px;
    }

    header nav li li{
        display: block;
        border-bottom:1px solid rgba(255,255,255,.5);
        width: 140%;
    }
}

@media screen and (max-width: 768px) and (min-width: 480px) {
    #datos{    
        margin-top: 30px;
        margin-left: 0px;
        margin-right: 0px;
        width: 100%;
    }

    .captura label{
        margin-left: 40px;
        width: 20%;
    }

    .captura input{
        width: 50%;
    }

    .captura select{
        width: 54%;
    }

    #btnCambiar{
        width: 50%;
    }
    #btnCambiar{
    }

    header nav li li{
        display: block;
        border-bottom:1px solid rgba(255,255,255,.5);
        width: 210%;
    }
}